:root {
  --primary-color: #234181;
  --secondary-color: #e5eaf7;
}

/*? UTILITIES */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
h1 {
  text-align: center;
  margin: 1rem;
}
img,
.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*? IMAGES */
.images {
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}
.image-wrapper {
  width: 30rem;
  height: 20rem;
  justify-self: center;
  align-self: center;
}
/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
}
.error-container {
  text-align: center;
  margin-top: 2.5rem;
}
.error-sign {
  font-size: 2rem;
}
.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
