:root {
  --primary-color: #234181;
  --secondary-color: #e5eaf7;
}

/*? UTILITIES */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
h1 {
  text-align: center;
  margin: 1rem;
}
img,
.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%; /*Focal point will be the center of the image*/
}

/*? IMAGES/VIDEOS */
.images {
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}
.image-wrapper,
.video-wrapper {
  width: 30rem;
  height: 20rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: #000;
  transition: all 0.3s;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.title {
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.img-controls {
  position: absolute;
  transform: translate(-50% -50%);
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
.img-controls .icons {
  position: absolute;
  top: 50%;
  left: 50%;
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
}
.error-container {
  text-align: center;
  margin-top: 2.5rem;
}
.error-sign {
  font-size: 2rem;
}
.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
