:root {
  --dark-color: #5c7c94;
  --medium-color: #b2ccde;
  --light-color: #e6f4ff;
  --brown-color: #8f795a;
  --light-brown-color: #d1a86b;
}

/*? UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
  font-size: 18px;
}
body {
  background: var(--light-color);
  color: var(--dark-color);
  height: 100vh;
}
h1 {
  font-size: 2rem;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--light-brown-color);
}
a:hover {
  text-decoration: underline;
  color: var(--brown-color);
  cursor: pointer;
}
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*? BESTSELLER LISTS */
.bestseller-lists {
  grid-column: span 3;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.bestseller-lists h2 {
  margin-bottom: 1rem;
}
.bestseller-lists a {
  font-size: 0.85rem;
}

/*? BOOK LIST */
header {
  text-align: center;
}
header span {
  font-size: 0.5rem;
  color: var(--light-brown-color);
}
/*? LIST */
.booklist-container {
  grid-column: span 9;
}
.list-header {
  background: var(--dark-color);
  color: var(--light-color);
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
}
.book-list {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.book {
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  text-align: center;
}
.book article > * {
  margin: 0.5rem auto;
}
.img-container {
  max-width: 200px;
  margin: auto;
}
.rank {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 10px;
  padding: 5px;
}
.title {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 10px;
}
.author {
  font-style: italic;
  font-size: 0.75rem;
}
.description {
  font-size: 0.95rem;
}
.toggle-readmore {
  text-decoration: none;
  color: var(--light-brown-color);
  background: none;
  border: none;
  cursor: pointer;
}
.toggle-readmore:hover {
  text-decoration: underline;
  color: var(--brown-color);
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
}
.error-container {
  text-align: center;
  margin-top: 2.5rem;
}
.error-sign {
  font-size: 2rem;
}
.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .booklist {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 460px) {
  * {
    font-size: 16px;
  }
}
