@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#hero,
#about,
#projects {
  height: 100vh;
}

.container {
  width: 85vw;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.resume-btn {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  border: none;
  border: 3px solid #e8b338;
  border-radius: 5px;
  outline: none;
  color: #e8b338;
  cursor: pointer;
  background-color: transparent;
}

.resume-btn:hover {
  border-color: #9c6e06;
  color: #9c6e06;
}

.resume-btn a {
  color: #e8b338;
}

.nav-toggle {
  display: block;
  width: fit-content;
  padding: 0.35rem 0.65rem;
  border: none;
  border: 3px solid #e8b338;
  border-radius: 5px;
  outline: none;
  color: #e8b338;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav-toggle > * {
  font-size: 1.25rem;
}

nav {
  background: linear-gradient(to bottom right, #16409c, #3870e8);
  color: #e8b338;
  font-weight: 400;
  position: fixed;
  padding: 0.5rem;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .nav-header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
}

nav .nav-header .nav-toggle {
  display: none;
}

nav .nav-header .logo-icon {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

nav .links {
  transition: all 0.3s linear;
  display: flex;
}

nav .links .link-items {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav .links .link-items:hover {
  text-decoration: underline;
}

nav .active {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
  nav .nav-header {
    justify-content: space-between;
    width: 100%;
  }
  nav .nav-header .nav-toggle {
    display: block;
  }
  nav .links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
  }
  nav .show-container {
    height: 7rem;
  }
  nav .nav-resume {
    display: none;
  }
}

#hero {
  background-color: antiquewhite;
}
