@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.list-content .btn-remove {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  margin-top: 1rem;
  border: none;
  background: #119796;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.list-content .btn-remove:hover {
  background: #14aead;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  background: #119796;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  color: #2c2d32;
  min-height: 680px;
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

img {
  width: 100%;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

label,
input {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.list-item {
  width: 80%;
  padding: 5px;
  margin: 1px;
  background: #eee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 5px;
}

.list-item:hover {
  background: #e1e1e1;
}

.list-item .img-container {
  max-width: 200px;
}

.list-content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.list-content h2 {
  font-size: 20px;
  font-weight: 300;
  grid-column: span 2;
}

.list-content .acquired-container {
  margin: 1rem 0;
  text-align: center;
}

.list-content .btn-remove {
  margin: 1rem auto;
}

nav {
  background: #2c2d32;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

nav ul li:hover {
  background: #44454d;
}
