@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.list-item .list-content div button {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  border: none;
  border: 3px solid #119796;
  color: #119796;
  outline: none;
  cursor: pointer;
}

.list-item .list-content div button:hover {
  background: #119796;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  background: #119796;
  display: grid;
  place-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

label,
input {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.list-wrapper {
  height: 680px;
  min-width: 480px;
  background: #fff;
  margin-left: 0.25rem;
  overflow-y: scroll;
}

.list-wrapper::-webkit-scrollbar {
  width: 0;
}

.list-item {
  background: #eee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.25rem;
}

.list-item .list-content {
  margin-left: 0.5rem;
  grid-column: span 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.list-item .list-content h2 {
  font-weight: 400;
}

.list-item .list-content div {
  display: flex;
  justify-content: space-between;
}

.list-item .list-content div span {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  border: none;
  background: #ff9532;
  color: #fff;
  line-height: 1.7rem;
  pointer-events: none;
}

.list-item .img-container {
  max-width: 200px;
}

.list-item:hover {
  background-color: #e1e1e1;
}

nav {
  background: #2c2d32;
  color: #fff;
  min-height: 680px;
  padding-top: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav ul li {
  padding: 0.5rem 4rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

nav ul li:hover {
  background: #44454d;
}
