* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#hero,
#about,
#projects,
#experience {
  min-height: 100vh;
}
.container {
  width: 85vw;
  margin: auto;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
.icon-btn {
  svg {
    font-size: 2rem;
  }
}
