#hero {
  background: $bg-gradient;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .intro {
    @include glass();
    display: grid;
    place-content: center;
    color: $dark-secondary-color;
    margin: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
    p {
      color: $dark-primary-color;
      line-height: 1.5;
    }
    .links {
      text-align: center;
      margin: 1.5rem;
      & > * {
        margin: 1rem;
      }
    }
    a {
      @include link-color($dark-secondary-color);
    }
  }
}
@media screen and (max-width: 800px) {
  #hero {
    margin-top: 96px;
  }
}
