nav {
  background: $dark-primary-color;
  color: $light-secondary-color;
  font-weight: 400;
  position: fixed;
  z-index: 1;
  padding: 0.5rem;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-header {
    display: flex;
    align-items: center;
    .nav-toggle {
      display: none;
    }
    font-size: 1rem;
    text-transform: uppercase;
    .logo-icon {
      margin-right: 0.5rem;
      font-size: 1.25rem;
    }
  }

  .links {
    transition: all 0.3s linear;
    display: flex;
    list-style-type: none;
    .link-items {
      display: block;
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .active {
    text-decoration: underline;
  }
  .lang-selector {
    position: absolute;
    right: 1.5rem;
  }
  .lang-btn {
    background-color: transparent;
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    .nav-header {
      justify-content: space-between;
      width: 100%;
      .nav-toggle {
        display: block;
      }
    }

    .links {
      height: 0;
      overflow: hidden;
      flex-direction: column;
      text-align: center;
    }

    .show-container {
      height: 7rem;
    }

    .nav-resume {
      display: none;
    }
  }
}
