nav {
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  color: $secondary-alternative-color;
  font-weight: 400;
  min-height: 7vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    .logo-icon {
      margin-right: 0.5rem;
      font-size: 1.25rem;
    }
  }

  .nav-container {
    height: auto;
    transition: all 0.3s linear;
  }
  .links {
    display: flex;
    .link-items {
      display: block;
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .show-container {
    height: 10rem;
  }
  .nav-resume {
    .resume-btn {
      @include button();
      background-color: transparent;
      &:hover {
        border-color: $primary-alternative-color;
        color: $primary-alternative-color;
      }
      a {
        color: $secondary-alternative-color;
      }
    }
    .nav-toggle {
      @include button();
      border: none;
      background-color: transparent;
      & > * {
        font-size: 1.25rem;
      }
    }
  }
  .active {
    text-decoration: underline;
  }
}

@media screen and (max-width: 800px) {
  nav {
  }
}
