:root {
  --primary-bg-color: #f0f0f0;
  --secondary-bg-color: #fff;
  --blue-gradient: linear-gradient(#1489f3, #2cadfb);
  --orange-gradient: linear-gradient(#fa5715, #f6d022);
  --green-gradient: linear-gradient(#00b6e3, #00e4ac);
  --gray-gradient: linear-gradient(#dce2e2, #ebf3f1);
  --blue-color: #1489f3;
}

/*? UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--blue-color);
  text-align: center;
  margin: 1rem;
}
h4 {
  font-weight: 400;
}
.img-container {
  max-width: 10rem;
  justify-self: center;
  align-self: center;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover,
button {
  text-decoration: underline;
  cursor: pointer;
}
article {
  min-width: 65vw;
  margin-bottom: 3px;
}
/*? SEARCH BAR */
.search-bar {
  width: fit-content;
  margin: 1rem auto;
  color: #aaa;
}
#search {
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0.25rem;
  outline: none;
}

#search-btn {
  border: 1px solid #aaa;
  border-radius: 3px;
  color: rgb(131, 128, 128);
  padding: 0.25rem 0.5rem;
  background-color: transparent;
}
#search-btn:hover {
  color: rgb(97, 96, 96);
}
/*? COUNTRIES HEADER */
header {
  background: var(--blue-gradient);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: var(--secondary-bg-color);
}
.active,
header:hover {
  background: var(--orange-gradient);
  color: var(--secondary-bg-color);
  border: 1px solid#ddd;
}
header h2 {
  font-weight: 400;
}
.btn-toggle {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  background: transparent;
  color: var(--secondary-bg-color);
}
/*? COUNTRIES CONTENT */
.country-content {
  background-color: var(--secondary-bg-color);
  display: flex;
  padding: 1rem;
}

.left-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.right-content {
  flex: 1;
}
/*? MAP CONTENT */
.map-container {
  flex: 1;
  margin-left: 0.5rem;
  border-radius: 5px;
  height: 300px;
}
.map-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--primary-bg-color);
}
.map-placeholder button {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  background: transparent;
  color: var(--blue-color);
  text-decoration: none;
  outline: none;
}
.map-placeholder button:hover {
  text-decoration: underline;
  background-color: var(--primary-bg-color);
}

.title {
  background: var(--green-gradient);
  color: var(--secondary-bg-color);
  padding: 0.25rem;
  border-radius: 3px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.title-icon {
  margin-right: 0.5rem;
}
.country-data {
  background: var(--gray-gradient);
  padding: 0.25rem;
  border-radius: 3px;
}
.languages-group {
  display: flex;
  flex-direction: column;
}
.population-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.pop-content {
  flex: 1;
}
.bar-wrapper {
  max-width: 7rem;
}
.population-title {
  background: var(--green-gradient);
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
}
.error-container {
  text-align: center;
  margin-top: 2.5rem;
}
.error-sign {
  font-size: 2rem;
}
.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
  color: var(--blue-color);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*? MEDIA */
@media screen and (max-width: 1500px) {
  article {
    min-width: 65vw;
  }
}
@media screen and (max-width: 1300px) {
  article {
    min-width: 75vw;
  }
}
@media screen and (max-width: 1100px) {
  article {
    min-width: 85vw;
  }
}
