:root {
  --primary-bg-color: #f0f0f0;
  --secondary-bg-color: #fff;
  --blue-gradient: linear-gradient(#1489f3, #2cadfb);
  --orange-gradient: linear-gradient(#fa5715, #f6d022);
  --green-gradient: linear-gradient(#00b6e3, #00e4ac);
  --gray-gradient: linear-gradient(#dce2e2, #ebf3f1);
  --blue-color: #1489f3;
}

/*? UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--blue-color);
  text-align: center;
  margin: 1rem;
}
h4 {
  font-weight: 400;
}
.img-container {
  max-width: 10rem;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover,
button {
  text-decoration: underline;
  cursor: pointer;
}
article {
  width: 55vw;
  margin-bottom: 3px;
}

/*? COUNTRIES HEADER */
header {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: var(--blue-color);
}
.active,
header:hover {
  background-color: #eeeeee;
  border: 1px solid#ddd;
}
header h2 {
  font-weight: 400;
}
.btn-toggle {
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  background: transparent;
  color: var(--blue-color);
}
/*? COUNTRIES CONTENT */
.country-content {
  height: 400px;
  background-color: var(--secondary-bg-color);
  display: flex;
  padding: 1rem;
}

.left-content {
  flex: 1;
}
.right-content {
  flex: 1;
}

.title {
  background: var(--blue-gradient);
  color: var(--secondary-bg-color);
  padding: 0.25rem;
  border-radius: 3px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.title-icon {
  margin-right: 0.5rem;
}
.country-data {
  background: var(--gray-gradient);
  padding: 0.25rem;
  border-radius: 3px;
}
.languages-group {
  display: flex;
  flex-direction: column;
}
.population-bar {
  display: flex;
}
.bar-container {
  flex: 1;
  padding: 2rem;
}
.pop-content {
  flex: 1;
  align-self: center;
}
.population-title {
  background: var(--orange-gradient);
}
