* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
body {
  background: $green-color;
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  background: $light-color;
  color: $dark-color;
  min-height: 680px;
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
img {
  width: 100%;
}
h1 {
  color: $light-color;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
label,
input {
  cursor: pointer;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
