* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
body {
  background: $dark-color;
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  background: $light-color;
  color: $dark-color;
  min-height: 680px;
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
img {
  width: 100%;
}
h1 {
  color: $light-color;
  font-weight: 400;
  text-align: center;
}
label,
input {
  cursor: pointer;
}
.btn {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  margin-top: 1rem;
  border: none;
  background: $green-color;
  color: $light-color;
  cursor: pointer;
  &:hover {
    background: lighten($green-color, 5%);
  }
}
