* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $bg-color;
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  background: $light-color;
  height: 680px;
  width: 680px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
