.list-wrapper {
  height: 680px;
  min-width: 480px;
  background: $light-color;
  margin-left: 0.25rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.list-item {
  background: $semi-light-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.25rem;

  .list-content {
    margin-left: 0.5rem;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    h2 {
      font-weight: 400;
    }
    div {
      display: flex;
      justify-content: space-between;
      span {
        @include button-paddings();
        background: #ff9532;
        color: $light-color;
        line-height: 1.7rem;
        pointer-events: none;
      }
      button {
        @extend %btn;
      }
    }
  }
  .img-container {
    max-width: 200px;
  }
  &:hover {
    background-color: darken($semi-light-color, 5%);
  }
}
