nav {
  background: $dark-color;
  color: $light-color;
  min-height: 680px;
  padding-top: 2rem;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      padding: 0.5rem 4rem;
      width: 100%;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: lighten($dark-color, 10%);
      }
    }
  }
}
