$dark-color: #2c2d32;
$light-color: #fff;
$semi-light-color: #eee;
$green-color: #119796;

@mixin button-paddings() {
  width: fit-content;
  padding: 0.35rem 0.65rem;
  border: none;
}

%btn {
  @include button-paddings();
  border: 3px solid $green-color;
  color: $green-color;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-color;
    color: $light-color;
  }
}
