#home {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 90vw;
  //background-image: url('/images/bg.jpg');
}
.home-left {
  flex: 1;
  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $blue-color;
  }
  button {
    @include primary-btn($green-gradient, $green-inverse-gradient);
  }
}
.home-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  article {
    background-color: #eee;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 20px;
    h2 {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      span {
        font-size: 1rem;
        text-transform: uppercase;
        font-style: italic;
      }
    }
  }
}

.img-wrapper {
  max-width: 45px;
}
