$blue-gradient: linear-gradient(#1489f3, #2cadfb);
$orange-gradient: linear-gradient(#fa5715, #f6d022);
$green-gradient: linear-gradient(to bottom right, #00b6e3, #00e4ac);
$green-inverse-gradient: linear-gradient(to top left, #00b6e3, #00e4ac);
$gray-gradient: linear-gradient(to bottom, #dce2e2, #fff, #dce2e2);
$gray-hover-gradient: linear-gradient(to bottom, #ccc, #fff, #ccc);
$blue-color: #1489f3;
$error-color: #b83603;
$hover: #fa5715;

@mixin top-bottom-border() {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@mixin primary-btn($color, $hover) {
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: $color;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;

  &:hover {
    background: $hover;
  }
}
@mixin secondary-btn() {
  background: $gray-gradient;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 100%;
  @include top-bottom-border();
  &:hover {
    background: $gray-hover-gradient;
  }
}
