$blue-gradient: linear-gradient(#1489f3, #2cadfb);
$orange-gradient: linear-gradient(#fa5715, #f6d022);
$green-gradient: linear-gradient(to bottom right, #00b6e3, #00e4ac);
$green-inverse-gradient: linear-gradient(to top left, #00b6e3, #00e4ac);
$gray-gradient: linear-gradient(#dce2e2, #ebf3f1);
$blue-color: #1489f3;
$error-color: #b83603;
$hover: #fa5715;

@mixin primary-btn($color, $hover) {
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: $color;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;

  &:hover {
    background: $hover;
  }
}
