@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");
/**VARIABLES*/
:root {
  --mainBgColor: #f3f3f3;
  --secondaryBgColor: #fff;
  --hoverColor: #f5465d;
  --mainTextColor: #444;
  --yellow-gradient: linear-gradient(to top left, #ffb003, #ffcb03);
  --yellow-gradient-hover: linear-gradient(to bottom right, #ffb003, #ffcb03);
  --green-gradient: linear-gradient(to top left, #39b385, #9be15d);
  --green-gradient: linear-gradient(to bottom right, #39b385, #9be15d);
  --red-gradient: linear-gradient(to top left, #e52a5a, #ff585f);
  --red-gradient: linear-gradient(to bottom right, #e52a5a, #ff585f);
  --transition: all 1s linear;
  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
  --box-shadow-hover: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
}
/**SETUP*/
* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 22px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  outline: none;
}
img {
  width: 100%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1rem;
}

/**BUTTONS*/
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: var(--box-shadow);
}
.btn:hover {
  box-shadow: var(--box-shadow-hover);
}
.start-btn {
  background: var(--yellow-gradient);
}
.start-btn:hover {
  background: var(--yellow-gradient-hover);
}

/**START PAGE*/

.start-page,
.game-page {
  background-color: var(--mainBgColor);
  height: 100vh;
  display: grid;
  place-items: center;
}
