* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.App {
  margin-top: 7.5rem;
  display: grid;
  place-content: center;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  filter: grayscale(100%) opacity(20%);
}

.container {
  width: 90vw;
  margin: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.icons {
  color: #1489f3;
  font-size: 1.25rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: all 0.15s;
}

.icons:hover {
  color: #fa5715;
}

.list-item {
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;
  transition: all 0.25s;
}

.list-item h2 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  grid-column: span 4;
}

.list-item h2 span {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.list-item .add-btn {
  background: linear-gradient(to bottom right, #00b6e3, #00e4ac);
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: #eee;
  justify-self: end;
  align-self: flex-end;
  cursor: pointer;
  outline: none;
}

.list-item .add-btn:hover {
  background: linear-gradient(to top left, #00b6e3, #00e4ac);
}

.list-item:hover {
  background: #e1e1e1;
  box-shadow: none;
}

.error-container {
  grid-column: span 3;
  color: #b83603;
  text-align: center;
}

.error-container .error-sign {
  font-size: 2.5rem;
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
  grid-column: span 3;
}

.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  color: #1489f3;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home {
  position: relative;
  margin-top: -7.5rem;
  height: 100vh;
  display: grid;
  place-content: center;
}

#home .container {
  display: flex;
  align-items: center;
}

.home-left {
  position: relative;
  flex: 1;
}

.home-left h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #1489f3;
}

.home-left button {
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #00b6e3, #00e4ac);
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  width: fit-content;
}

.home-left button:hover {
  background: linear-gradient(to top left, #00b6e3, #00e4ac);
}

.home-right {
  position: relative;
  flex: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-bottom: 1rem;
}

.img-wrapper {
  max-width: 45px;
}

@media screen and (max-width: 1300px) {
  #home {
    display: flex;
  }
  #home .container {
    flex-direction: column;
    height: 80vh;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  #home {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 750px) {
  .home-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .home-left {
    justify-content: center;
  }
  .home-left button {
    width: 100%;
    margin: 2rem 0;
  }
  .home-right {
    grid-template-columns: 1fr;
  }
}

#portfolio {
  position: relative;
  z-index: 1;
  width: 90vw;
  margin: auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

#portfolio h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1489f3;
}

#portfolio h2 {
  font-size: 1.25rem;
  color: #1489f3;
  font-weight: 400;
}

#portfolio h2 {
  padding: 1rem 0;
}

#portfolio h3 {
  padding: 1rem 0;
}

#portfolio .portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#portfolio .portfolio-header .add-transaction {
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #00b6e3, #00e4ac);
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;
}

#portfolio .portfolio-header .add-transaction:hover {
  background: linear-gradient(to top left, #00b6e3, #00e4ac);
}

#portfolio .portfolio-header .add-transaction svg {
  margin-right: 5px;
}

#portfolio .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 2rem 0 0;
}

#stats {
  grid-column: span 4;
  margin-right: 0.5rem;
}

#stats .main-asset-value {
  font-size: 2rem;
  font-weight: 400;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#stats .main-asset-value span {
  font-weight: 400;
}

#stats .graph-btn-container {
  display: flex;
  justify-content: space-around;
}

#stats .graph-btn-container button {
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #00b6e3, #00e4ac);
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  margin: 0;
}

#stats .graph-btn-container button:hover {
  background: linear-gradient(to top left, #00b6e3, #00e4ac);
}

#assets {
  grid-column: span 8;
  margin-left: 0.5rem;
}

#assets table {
  border-collapse: collapse;
  width: 100%;
}

#assets table th {
  font-weight: 400;
  padding: 1rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#assets table tbody .table-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#assets table tbody .table-name img {
  width: 30px;
  height: 30px;
  justify-self: end;
  margin-right: 1.5rem;
}

#assets table tbody .table-name p {
  text-align: left;
  width: fit-content;
  font-weight: 400;
}

#assets table tbody tr {
  text-align: center;
}

#assets table tbody tr td {
  font-weight: 400;
  padding: 0.25rem;
}

#assets table tbody tr:nth-child(even) {
  background-color: #eee;
}

#assets table tbody .holdings {
  font-size: 0.85rem;
  font-weight: 400;
  color: #999;
}

#assets .symbol {
  font-style: italic;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: gray;
}

@media screen and (max-width: 1200px) {
  #portfolio #stats {
    grid-column: span 12;
  }
  #portfolio #assets {
    grid-column: span 12;
  }
}

@media screen and (max-width: 850px) {
  #portfolio #assets {
    grid-column: span 12;
  }
  .percentage-change-row {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #portfolio #assets {
    grid-column: span 12;
  }
  .profit-row {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #portfolio .portfolio-header {
    flex-direction: column;
    text-align: center;
  }
  #portfolio #assets {
    grid-column: span 12;
  }
  .actions-row {
    display: none;
  }
}

#add-new-asset {
  position: relative;
  z-index: 1;
  width: 90vw;
  margin: auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

#add-new-asset h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1489f3;
}

#add-new-asset h2 {
  font-size: 1.25rem;
  color: #1489f3;
  font-weight: 400;
}

#add-new-asset #search-section {
  margin: 2rem 0;
}

#add-new-asset #search-section #search {
  border-radius: 15px;
  border: 1px solid #222;
  padding: 0.5rem;
  outline: none;
}

#asset-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1650px) {
  #asset-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #asset-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  #asset-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 675px) {
  #asset-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #asset-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
