* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 90vw;
  margin: auto;
}

.error-container {
  grid-column: span 3;
  color: #b83603;
  text-align: center;
}

.error-container .error-sign {
  font-size: 2.5rem;
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
  grid-column: span 3;
}

.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  color: #1489f3;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home {
  position: relative;
  height: 100vh;
}

#home .container {
  height: 100vh;
  display: flex;
  align-items: center;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  filter: grayscale(100%) opacity(15%);
}

.home-left {
  position: relative;
  flex: 1;
}

.home-left h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #1489f3;
}

.home-left button {
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #00b6e3, #00e4ac);
  font-size: 1.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  width: fit-content;
}

.home-left button:hover {
  background: linear-gradient(to top left, #00b6e3, #00e4ac);
}

.home-right {
  position: relative;
  flex: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-bottom: 1rem;
}

.home-right article {
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.home-right article h2 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.home-right article h2 span {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.img-wrapper {
  max-width: 45px;
}

@media screen and (max-width: 1300px) {
  #home {
    display: flex;
  }
  #home .container {
    flex-direction: column;
    height: 80vh;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  * {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 750px) {
  .home-right article h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .home-right {
    grid-template-columns: 1fr 1fr;
  }
}
