* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/*? SPINNER */
.spinner-container {
  margin: auto;
  width: 2rem;
}

.error-container {
  text-align: center;
  margin-top: 2.5rem;
}

.error-sign {
  font-size: 2rem;
}

.spinner {
  margin: 2.5rem auto;
  text-align: center;
  height: 2rem;
  width: 2rem;
  transform-origin: center center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 90vw;
}

.home-left {
  flex: 1;
}

.home-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.home-right article {
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
}

.home-right article h2 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.home-right article h2 span {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.img-wrapper {
  max-width: 45px;
}
